.topBar {
    display: flex;
    justify-content: space-between;
}

.headerIcon {
    width: 45px;
    margin-left: 5%;
}

.startOptions {
    display: flex;
    align-items: center;
}

.buttonContainer {
    display: flex;
}

.headerTitle {
    margin: 1%;
    color: #5f6368;
    font-size: 22px;
    font-family: 'Product Sans', Arial, sans-serif;
    display: inline-block;
    margin-left: 10%;
}

.search {
    height: 7vh;
    width: 50%;
    display: flex;
    align-items: center;
    background-color: rgb(238, 238, 238);
    border-radius: 8px;
}

.searchIcon {
    margin-left: 3%;
}

.searchInput {
    margin-left: 2%;
    width: 80%;
    height: 1;
}

.appsContainer {
    display: flex;
}

.profile {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 280px;
    position: absolute;
    right: 8px;
    top: 62px;
    border: 1px solid;
    border-color: rgba(0, 0, 0, .2);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
    background-color: #fff;
    z-index: 4011;
}

.false {
    display: none;
}

.person {
    display: flex;
    flex-Direction: column;
    align-items: center;
    margin: 20px 33px;
    height: 150px;
}

.name {
    width: 100%;
    display: flex;
    justify-content: center;
    color: #2e7031;
}

.email {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 7%;
    color: #2e7031;
}

.avatarIcon {
    background-color: #f5a453 !important;
}

.avatarContainer {
    position: relative;
    height: 86px;
    width: 86px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1%;
}

.cardActions {
    display: flex;
    justify-content: center;
    color: palevioletred;
    font-weight: bold;
}

.image {
    margin-bottom: 20%;
}