body {
    text-decoration: none;
}

#form {
    margin: auto;
    margin-top: 5%;
    height: 500px;
    width: 400px;
    border: solid black;
}

.link {
    justify-content: flex-end;
}

.fundooShift {
    text-align: center;
}

.head {
    height: 100px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
}

.extra-tool {
    height: 50px;
    justify-content: left;
    color: blue;
    margin-top: -50px;
}

.link {
    justify-items: flex-start;
    justify-content: left;
    color: blue;
    margin-top: -20px;
    text-decoration: hotpink;
}

.wrapper-tool {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}